<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>332030401954-06vf4arhjb2fh9a0sr4tc7oqrsb2bujo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332030401954-06vf4arhjb2fh9a0sr4tc7oqrsb2bujo</string>
	<key>API_KEY</key>
	<string>AIzaSyD8QEN9oj5RAvs85y3IfED-x1S2WF08cu8</string>
	<key>GCM_SENDER_ID</key>
	<string>332030401954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c4q.rev6.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>fir-testapp-989e7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testapp-989e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:332030401954:ios:ce9035c420a8f381</string>
	<key>DATABASE_URL</key>
	<string>https://fir-testapp-989e7.firebaseio.com</string>
</dict>
</plist>